.video-list-item {
  width: 210px;
  height: 252px;
  margin-right: 4px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  
  .video-block-el {
    width: 100%;
    height: 118px;
    background: black;
  }
  
  .video-info {
    .video-name {
      line-height: 1.3;
      letter-spacing: -1px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 6px 0 4px;
      cursor: pointer;
      
      &:focus {
        outline: none;
      }
    }
    
    .video-rating-wrapper {
      width: 100%;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      
      .rating-label {
        color: grey;
        font-weight: 400;
        font-size: 12px;
        margin-right: 5px;
      }
    }
  
    .video-description {
      color: grey;
      font-weight: 400;
      font-size: 12px;
      cursor: default;
  
      &:focus {
        outline: none;
      }
      
      > a {
        text-decoration: none;
      }
    }
  }
}
